{% extends "index.html" %}
{% load static %}

{% block content %}
    <style>
        .card img{
            transition: 0.8s all;
        }

        .card img:hover {
            border: 4px solid white;
        }

        button{
            transition: 0.5s all;
            border: 1px solid grey;
        }
        
        button:hover {
            border: 1px solid white;
            color: white !important;
        }
    </style>
</head>
<body>
<div class="hero-image">
    <nav class="navbar">
        <div class="container">
            <a href="" class="navbar-brand">
                <img width="130px" src="{% static 'img/netflix_logo.png' %}" alt="">
            </a>
        </div>
    </nav>

    <!-- profil seçimi -->
    <div class="container mt-5">
        <div class="row w-75 m-auto bg-black bg-opacity-50 p-3">
            <h1 class="text-center text-light">Kimler İzliyor?</h1>

            {% for profil in profiller %}
            <div class="col-3 mt-5 mb-5">
                <a href="{% url 'movies' %}" class="text-decoration-none text-secondary">
                    <div class="card bg-transparent">
                        <img height="230px" src="{{profil.resim.url}}" class="card-img-top" alt="">
                        <div>
                            <h5 class="card-title text-center mt-2 ">{{profil.isim}}</h5>
                        </div>
                        <a class="btn btn-secondary mb-2" href="{% url 'edit' profil.id %}">Düzenle</a>
                        <a class="btn btn-danger mb-2" href="{% url 'delete' profil.id %}">Sil</a>
                    </div>
                </a>
            </div>
            {% endfor %}
            <div class="buton mb-5 text-center">
                <button class="bg-dark text-secondary w-50 p-2 ">
                    <a class="text-decoration-none text-secondary" href="{% url 'create' %}">Profil Yönetimi</a>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
