{% extends "index.html" %}
{% load static %}
{% block content %}

    <style>
        .stars{
            display: flex;
            direction: row;
        }
        .star{
            color: #ddd;
            font-size: 16px;
            margin-right: 2px;
        }

        .star.filled{
            color: #f39c12;
        }

        .text-justify{
            text-align: justify;
        }
        
    </style>



    <div class="container py-5">
        <h1 class="text-white text-center mb-4">{{film.isim}}</h1>
        <div class="row">
            <div class="col-5">
                <img class="mb-3 w-100" src="{{film.resim.url}}"><br>
                <a class="btn btn-secondary my-3 d-block m-auto" href="{% url 'film_fragman' film.id %}">Fragmanı İzle</a>
            </div>
            <div class="col-7">
                <p class="text-white text-justify">{{film.aciklama}}</p>
            </div>
        </div>

        <!-- ! Oyuncularla İlgili Alan -->
        <div class="row my-5">
            <h3 class="text-warning">Oyuncular</h3>
            <hr class="text-white">

            {% for actor in film.actors.all %}
                <div class="col-2">
                    <img width="100%" class="border border-1 border-white p-1" src="{{actor.photo.url}}" alt="">
                    <p class="text-white text-center mt-2">{{actor.name}}</p>
                </div>
            {% empty %}
                <p class="text-white text-center">Bu filmde oyuncu bilgisi bulunmuyor</p>
            {% endfor %}

        </div>

        <div class="row">
            <h2 class="text-warning">Yorumlar:</h2>
            <hr class="text-white">
            <div class="col-12">
                <ul class="p-0 mb-4">
                    {% for yorum in yorumlar %}

                        <li class="text-white list-unstyled border border-1 border-white p-4 mb-3 rounded-3">
                            <strong class="text-warning fs-4 border-bottom border-2 border-secondary">
                                
                                    {{yorum.user.username}}
                                
                            </strong><br>
                            <div class="stars">
                                {% for i in "12345" %}
                                
                                    {% if i|add:0 <= yorum.rating %}

                                        <span class="star filled">✭</span>

                                    {% else %}

                                        <span class="star">✭</span>

                                    {% endif %}

                                {% endfor %}
                            </div>
                            <p>{{ yorum.text}}</p>
                            <small class="text-white float-end">{{yorum.created_at}}</small>

                            <a class="btn btn-warning btn-sm" href="{% url 'yorum_duzenle' yorum.id %}">Düzenle</a>
                            <a class="btn btn-danger btn-sm" onclick="return confirm('Yorumunu silmek istediğine emin misin?');" href="{% url 'yorum_sil' yorum.id %}">Sil</a>
                        </li>
                    {% empty %}
                        
                        <li class="text-white list-unstyled">Henüz yorum yok. İlk yorumu yapmak ister misin?</li>

                    {% endfor %}
                </ul>

                {% if user.is_authenticated %}

                <div class="row">
                    <div class="col-12">
                        <h3 class="text-warning">Yorum Yap</h3>
                        <form class="w-100" method="POST">
                            {% csrf_token %}
                            {{form}}
                            <button type="submit" class="btn btn-outline-primary mt-3 btn-sm">Yorumu Gönder</button>
                        </form>
                {% else %}
                        <p class="text-white">Yorum yapabilmek için giriş yapmalısınız!!!</p>
                        <a class="btn btn-primary btn-sm" href="{% url 'login' %}">Giriş Yap</a>

                {% endif %}
                    </div>
                </div>
            </div>
        </div>



    </div>
    
    



{% endblock content %}
{% include "_footer.html"%}