{% extends "index.html" %}
{% load static %}
{% block content %}

    <div class="container py-5">
        <form method="POST" class="w-50 m-auto border border-1 border-white text-white p-3">
            <h2 class="text-center text-white fw-bold">Parolayı Güncelle</h2>
            <hr>
            {% csrf_token %}
            <label>Eski Parola:</label>
            {{form.old_password}}

            <label>Yeni Parola:</label>
            {{form.new_password1}}

            <label>Yeni Parola Tekrarı:</label>
            {{form.new_password2}}

            <button type="submit" class="btn btn-warning mt-3">Gönder</button>
        </form>
    </div>


{% endblock content %}